extends layout
block content
    link(rel='stylesheet', href='/stylesheets/glueck_redensarten.css')
    script(src='/javascripts/glueck_redensarten.js')
    #Aufgabenbox
        | Hier findest du einige Zeitungsartikel, die Redensarten zum Thema Glück verwenden.
        br
        |Schau dir ihre Verwendung an und kreuze nach jedem Beispiel die richtige Aussage im jeweiligen Kontext an.

    #wrapper
        #Textbox
            h2 Stefan Illien: «Wir haben Glück im Unglück gehabt»
            p
            |Vom 13. auf den 14. Mai sind aus der Heizung eines Mehrfamilienhauses in Lenzerheide rund 1200 Liter Öl ausgelaufen. Die Liegenschaft <i>[schweizerisch: bebautes Grundstück]</i> wurde stark beschädigt sowie die Kanalisation und die Abwasserreinigungsanlage ARA Lenzerheide verschmutzt. Die «Novitats» hat mit Stefan Illien, Leiter E-Werk bei der Gemeinde Vaz/Obervaz, gesprochen.
            p
            |Lenzerheide. – «Wir haben Glück im Unglück gehabt», sagt Stefan Illien, Leiter E-Werk bei der Gemeinde Vaz/Obervaz. «Die Mitarbeiter bei der ARA haben sofort richtig reagiert und die entsprechenden Massnahmen ergriffen.»
        #Auswahlbox
            h3 Redewendung "Wir haben Glück im Unglück gehabt":
            p <INPUT type=checkbox name="box" value="1">die Gemeinde Vaz/Obervaz hatte Glück, da eine noch schlimmere Katastrophe verhindert werden konnte<BR>
            p <INPUT type=checkbox name="box" value="0">die Gemeinde Vaz/Obervaz hatte Glück, da nur ein Mehrfamilienhaus beschädigt wurde<BR>

        #Textbox
            h2 Schlechteste Mannschaft der Welt: Sie können es also doch
            p
            |Jahrelang vergeigten sie ein Spiel nach dem anderen, bis jetzt: Vor wenigen Tagen erzielte die Nationalmannschaft von Amerikanisch-Samoa den ersten Sieg ihrer Geschichte - gegen Tonga. Die Fußballer haben nun offenbar einen Lauf, gegen die Cook-Inseln erkämpften sie immerhin ein Remis.
            p
            |Hamburg - Die schlechteste Mannschaft der Welt ist plötzlich auf Erfolgskurs. Am Dienstag erkämpfte Amerikanisch-Samoa den ersten Pflichtspielsieg in der Geschichte der Insel, die Fußballer und die ganze Nation feierten emphatisch das 2:1 gegen Tonga. Und die Glückssträhne hält offenbar an: Denn jetzt hat sich das Team von Trainer Thomas Rongen auch noch ein 1:1-Unentschieden gegen die Cook Inseln gesichert - immerhin.
        #Auswahlbox
            h3 Redewendung "Glückssträhne":
            p <INPUT type=checkbox name="box" value="1">die Glückssträhne - also der Erfolg - der Mannschaft hält an, weil sie immer noch Spiele gewinnt<BR>
            p <INPUT type=checkbox name="box" value="0">die Glückssträhne - also der Erfolg - der Mannschaft hält an, weil sie mehrere Spiele verloren hat<BR>

        #Textbox
            h2 Daumen drücken!
            p
            |Sie wirken motiviert, entspannt, gut gelaunt und sie scheinen sich auf die vor ihnen liegenden Aufgaben zu freuen: die frisch gewählten Mitglieder des Ochtruper Rates. Hinter ihnen liegt ein mitunter heftiger Wahlkampf. Letzteren verglich Bürgermeister Kai Hutzenlaub mit einem Fußballspiel. Und der Vergleich passt gut.

            p
            |Aber anders als zwei Mannschaften auf dem Platz, müssen die Mitglieder des Rates jetzt nach der harten Partie Wahlkampf wieder zusammenarbeiten. Denn mögen sie auch noch so unterschiedliche Ansichten und Vorstellungen von guter Politik haben, im Rat gilt es, Kompromisse zu finden – und, wie gesagt, miteinander statt gegeneinander zu arbeiten. Drücken wir dem Rat für die nächste Partie die Daumen, dass es gelingt.
        #Auswahlbox
            h3 Redewendung "Daumen drücken!":
            p <INPUT type=checkbox name="box" value="1">die Verfasserin wünscht dem Rat viel Erfolg und drückt ihm die Daumen für das Gelingen seiner Vorhaben!<BR>
            p <INPUT type=checkbox name="box" value="0">die Verfasserin kritisiert den Rat und drückt die Daumen, dass er nicht gewählt wird!<BR>

        #Textbox
            h2 Im Casino das große Glück herausfordern
            p
            |chemnitzer stellt Orte vor, in denen nach Herzenslust gespielt werden kann - Bingo! Hier lockt der Gewinn.

            p
            |Chemnitz spielt: So heißt eine neue Reihe, mit der das Magazin chemnitzer in loser Reihenfolge Orte vorstellt, an denen man seinen Spieltrieb auslassen kann.
        #Auswahlbox
            h3 Redewendung "Glück herausfordern":
            p <INPUT type=checkbox name="box" value="1">im Casino fordert man das Glück heraus, denn entweder gewinnt man oder man verliert - man geht ein hohes Risiko ein<BR>
            p <INPUT type=checkbox name="box" value="0">im Casino fordert man das Glück heraus, weil man immer gewinnt<BR>

        #Textbox
            h2 Bundesforste klopfen auf Holz
            p
            |2010 war ein gutes Jahr für die Österreichischen Bundesforste. Die Talsohle ist überwunden - es geht wieder bergauf.
            p
            |Wien (APA) - Die Österreichischen Bundesforste (ÖBf) konnten 2010 das Ergebnis der gewöhnlichen Geschäftstätigkeit (EGT) von 4 auf 15,9 Mio. Euro anheben, die Betriebsleistung blieb mit 220 Mio. Euro konstant. Bei besseren Preisen ging die Holzernte zurück, gleichzeitig boomte das Immobiliengeschäft.
        #Auswahlbox
            h3 Redewendung "auf Holz klopfen":
            p <INPUT type=checkbox name="box" value="1">die Bundesforste (eine Aktiengesellschaft) klopft auf Holz, weil sie hofft, dass ihr Erfolg anhält<BR>
            p <INPUT type=checkbox name="box" value="0">die Bundesforste klopft auf Holz, weil sie hofft, dass die Preise wieder fallen<BR>

        #Textbox
            h2 Heiratsverhalten nach Lottogewinn laut Studie verändert. Glück im Spiel, Pech in der Liebe?
            p
            |Laut einer Studie von Mark Hoekstra (University of Pittsburgh) und Scott Hankins (University of Kentucky) reduziert ein Lottogewinn von $ 25.000 oder mehr die Wahrscheinlichkeit um 40%, dass Frauen innerhalb der nächsten 3 Jahre heiraten.
        #Auswahlbox
            h3 Redewendung "Glück im Spiel, Pech in der Liebe":
            p <INPUT type=checkbox name="box" value="0">nach einem großen Lottogewinn gibt man besonders viel Geld für eine Hochzeit aus<BR>
            p <INPUT type=checkbox name="box" value="1">nach einem großen Lottogewinn ist es unwahrscheinlich, dass Frauen in nächster Zeit heiraten<BR>

    #Field
        span#balken
        span#hilfe
        span#check
            a(href='#') PRÜFEN
        span#weiter
            a(href='#') WEITER

    // evtl die beschreibungen vom ersten entwurf der frage als hilfe einbauen
