//
   Created by MeLex on 14.01.2016.

extends layout
block content
    link(rel='stylesheet', href='stylesheets/liveticker_basketball_synonyme.css')
    script(src='javascripts/liveticker_basketball_synonyme.js')
    #Aufgabenbox
        p In einem Basketballspiel kann viel passieren. Welche Beschreibung passt zu dem Ausdruck am besten?
        p Alle Wörter kommen im Text vor. Über den "zum Text"-Button kannst du dir den Testausschnitt anzeigen lassen, in dem die Ausdrücke verwendet wurden.
    #wrapper
        #Textbox
            .mco#m1
                <a href="images/liveticker/Liveticker_Basketball_Aufgabe3_1.png" target="popup-beispiel" onClick="javascript:open('', 'popup-beispiel', 'height=auto,width=auto, resizable=no')">
                img.textwrap1(src="images/liveticker/zumText_Button.png")
                </a>
                <b>
                .task jemanden bedienen </b>

            .mco#m2
                <a href="images/liveticker/Liveticker_Basketball_Aufgabe3_3.png" target="popup-beispiel" onClick="javascript:open('', 'popup-beispiel', 'height=auto,width=auto, resizable=no')">
                img.textwrap1(src="images/liveticker/zumText_Button.png")
                </a>
                <b>
                .task schiefgehen </b>

            #Space
        #Textbox
            .mco#m3
                <a href="images/liveticker/Liveticker_Basketball_Aufgabe3_2.png" target="popup-beispiel" onClick="javascript:open('', 'popup-beispiel', 'height=auto,width=auto, resizable=no')">
                img.textwrap1(src="images/liveticker/zumText_Button.png")
                </a>
                <b>
                .task vergeben </b>

            .mco#m4
                <a href="images/liveticker/Liveticker_Basketball_Aufgabe3_4.png" target="popup-beispiel" onClick="javascript:open('', 'popup-beispiel', 'height=auto,width=auto, resizable=no')">
                img.textwrap1(src="images/liveticker/zumText_Button.png")
                </a>
                <b>
                .task verwandeln </b>



