extends layout
block content

    link(rel='stylesheet', href='/stylesheets/veggieday.css')
    #Aufgabenbox

        h2(style="center") Übung 3: Meinung der Mediziner
        h2 Aufgabe:
        p
        | Lies den folgenden Text aufmerksam. Hier geht es um die Meinung der Mediziner zum Thema Veganismus.
        | Beantworte anschließend die Frage..
        p
        | Hinweis: Die Bedeutung von <i>kursiv</i>
        | gedruckten Wörtern erfährst du, wenn du auf ihnen mit dem Mauszeiger verweilst!
        | Falls du ein Wort nicht kennst, kannst du es im
        b Duden
        | nachschlagen!
    p
    #Textbox
        h2 Mediziner
        p
        | Schon Anfang der achtziger Jahre wurden in Deutschland drei große Vegetarierstudien durchgeführt - mit
        | erstaunlichen Erkenntnissen. Laut diesen Studien haben Vegetarier besser Blutdruckwerte, ein besseres
        | Körpergewicht, eine höhere Lebenserwartung und ein geringeres Risiko für Krebs und Herz-Kreislauf-Erkrankungen.
        | Untersuchungen aus anderen Ländern kommen zu ähnlichen Ergebnissen. Die Studie der
        | <i><span title="Teil der Universität London. Führte die Studie durch.">London School of Hygiene and Tropical Medicine</span></i>
        | hat 11.000 Vegetarierinnen 12 Jahre lang beobachtet. Sie verglich ihre Teilnehmerinnen mit einer fleischessenden
        | <i><span title="mit ihrer Hilfe vergleicht man die Ergebnisse der Versuchsgruppe (hier: Fleischesser <-> Vegetarier)">Kontrollgruppe</span></i>.
        | Das Ergebnis: In allen wichtigen Punkten hatten die Vegetarierinnen bessere Werte. Die Sterberate war um
        | 20 % niedriger als bei der fleischessenden Kontrollgruppe, die Krebstodesrate war sogar um 40 % niedriger.
        | Zusammenfassend zeigen diese Studien, dass Vegetarierinnen keine Mangelerscheinungen haben, dass der
        | allgemeine Gesundheitszustand überdurchschnittlich gut ist und die vegetarische Ernährung als gesund
        | bezeichnet werden kann.
        p
        #Aufgabebox
            | Def 1 blabla bla bla bla! ...............................................................................
            p Frage: Was wird hier definiert?
            p
            p <INPUT type=checkbox name="box" value="0">Blutdruck<BR>
            p <INPUT type=checkbox name="box" value="0">Vegetarierstudien<BR>
            p <INPUT type=checkbox name="box" value="1">Körpergewicht<BR>
            p <INPUT type=checkbox name="box" value="0">Krebs<BR>
            p <INPUT type=checkbox name="box" value="1">Gesundheitszustand<BR>
        #Aufgabebox
            | Def 2 blabla bla bla bla!................................................................................
            p Frage: Was wird hier definiert?
            p
            p <INPUT type=checkbox name="box" value="0">Lebenserwartung<BR>
            p <INPUT type=checkbox name="box" value="1">Sterberate<BR>
            p <INPUT type=checkbox name="box" value="0">Mangelerscheinung<BR>
            p <INPUT type=checkbox name="box" value="0">Krebs<BR>
            p <INPUT type=checkbox name="box" value="1">Gesundheitszustand<BR>
        #Aufgabebox
            | Def 3 blabla bla bla bla! ...............................................................................
            p Frage: Was wird hier definiert?
            p
            p <INPUT type=checkbox name="box" value="0">Blutdruck<BR>
            p <INPUT type=checkbox name="box" value="0">Vegetarierstudien<BR>
            p <INPUT type=checkbox name="box" value="1">Körpergewicht<BR>
            p <INPUT type=checkbox name="box" value="1">Herz-Kreislauf-Erkrankung<BR>
            p <INPUT type=checkbox name="box" value="0">Lebenserwartung<BR>

        INPUT(TYPE="BUTTON" NAME="Aufgabe" VALUE= "Fertig!" ONCLICK= "boxcheck(this.form)")

    #Field
        span#balken
        span#hilfe
            a(href='http://www.duden.de',targe) DUDEN
        span#check
            a(name='Aufgabe', value='Fertig!', onclick='') PRÜFEN
        span#weiter
            a(href='/veggieday') ZURÜCK
